.header1{
background-color:rgb(128, 128, 128);
}

.zentrieren{
text-align:center;
}

.zentrieren1{
margin-left:auto;
margin-right:auto;
}

a{
color:white;
text-decoration:none;
}

.header2{
background-color:white;
}

body{
font-family:Times New Roman;
font-size:14pt;
color:white;
background-color:rgb(20, 24, 28, 0.9);
}

footer{
font-family:Times New Roman;
font-size:8pt;
}

.flex_container_header{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
align-content:center;

height:70px;
width:100%;
}

.flex_item_header{
height:30px;
width:500px;
margin-left:350px;
color:black;
font-weight:bold;
}

.flex_container_DieListe_Namen{
display:flex;
border-style:solid;
border-width:10px;
border-color:rgb(102, 98, 100);
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
align-content:center;

height:1015px;
width:1200px;
}

.flex_item_DieListe_Namen{
height:190px;
width:340px;
background-color:grey;
margin:25px;
border-style:solid;
border-width:5px;
border-color:rgb(102, 98, 100);
}

.flex_container_hauptseite{
display:flex;
border-style:solid;
border-width:10px;
border-color:rgb(45, 49, 53);
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
align-content:center;

height:800px;
width:1200px;
background-color:rgb(55, 59, 63);
}

.flex_item_hauptseite{
height:330px;
width:530px;
background-color:grey;
margin:35px;
}

.flex_container_hauptseite_option2{
display:flex;
border-style:solid;
border-width:10px;
border-color:rgb(102, 98, 100);
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
align-content:center;

height:400px;
width:1200px;
}

.flex_item_hauptseite_option2{
height:330px;
width:250px;
margin:20px;
border-style:solid;
border-width:5px;
border-color:rgb(102, 98, 100);
}

.flex_container_trenner{
display:flex;
justify-content:center;

height:1px;
width:500px;
background-color:white;
margin-left:auto;
margin-right:auto;
}

.flex_item_trenner{
height:1px;
width:300px;
margin-left:auto;
margin-right:auto;
}

.flex_container_hauptseite_auswahl{
display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:flex-end;
align-content:center;
background-color:rgb(102, 98, 100);
height:45px;
}

.flex1{
height:30px;
width:200px;
border-color:black;
border-width:1px;

}

.flex_container_dieListe_Namen_Armin_Tabelle{
display:flex;
flex-direction:row;
height:1000px;
width:1300px;
}

.flex_item_dieListe_Namen_Armin_Tabelle{
height:1200px;
width:900px;
border-color:black;
border-width:1px;
}

.flex_container_Netflix_Namen{
display:flex;
border-style:solid;
border-width:10px;
border-color:rgb(102, 98, 100);
flex-direction:row;
flex-wrap:wrap;
justify-content:space-between;
align-content:center;

height:270px;
width:1200px;
}

.flex_item_Netflix_Namen{
height:190px;
width:340px;
background-color:grey;
margin:25px;
border-style:solid;
border-width:5px;
border-color:rgb(102, 98, 100);
}

.flex_container_Dazn_Namen{
display:flex;
border-style:solid;
border-width:10px;
border-color:rgb(102, 98, 100);
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-content:center;

height:270px;
width:1200px;
}

.flex_item_Dazn_Namen{
height:190px;
width:340px;
background-color:grey;
margin:25px;
border-style:solid;
border-width:5px;
border-color:rgb(102, 98, 100);
}

.flex_container_Spotify_Namen{
display:flex;
border-style:solid;
border-width:10px;
border-color:rgb(102, 98, 100);
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-content:center;


width:1200px;
}

.flex_item_Spotify_Namen{
height:190px;
width:340px;
background-color:grey;
margin:25px;
border-style:solid;
border-width:5px;
border-color:rgb(102, 98, 100);
}

.flex_container_Netflix_Namen_Dwayn_Tabelle{
display:flex;
flex-direction:row;
height:1000px;
width:1300px;
}

.flex_item_Netflix_Namen_Dwayn_Tabelle{
height:1200px;
width:900px;
border-color:black;
border-width:1px;
}
